<!-- information about the site -->
<h1 class="about-heading">{{title}}</h1>
<p class="about-para">This is Assignment 3 of course JavaScript Frameworks. The theme of this application is Grocery list.</p>
<p class="about-para">In this application, users can add grocery items to list, update that list in future and delete after buying those items from market. </p>
