<!-- Home or Splash page of site -->
<div class="index-bg">
    <h1 class="index-title">{{title}}</h1>

    <div class="index-message">
        <h3>Welcomes You!!</h3>
        <p>Introducing most advanced way to manage your groceries from your mobile phone. </p>
    </div>

</div>

